# Visual Studio / IDE
.vs/
.vscode/
.idea/
*.sln
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.opendb

# Unreal generated
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

# Compiled
*.com
*.dll
*.exe
*.o
*.obj
*.pdb

# Builds
Packaged/
Cooked/
*.ipa
*.apk

# OS
.DS_Store
Thumbs.db
*.stackdump
